<div id="all-centered-items">
  <div id="text-info">
    <h1 id="title-message">Password Reset</h1>
    <p class="description-message">THIS PAGE IS NOT YET COMPLETED</p>
    <p class="description-message">Please fill out the information below to reset your runner route credentials</p>
    <p class="description-message">Don't have a code? Click <a>here</a> to be sent one to your email</p>
  </div>
  <div id="registration-fields">
  	<mat-form-field>
      <div id="display-name-field-contents">
        <mat-label class="input-label">Email</mat-label>
        <input matInput type="email" [(ngModel)]="email">
      </div>
    </mat-form-field>
    <mat-form-field>
      <div id="display-name-field-contents">
        <mat-label class="input-label">Reset Token</mat-label>
        <input matInput type="password" [(ngModel)]="resetToken">
      </div>
    </mat-form-field>
    <mat-form-field>
      <div>
        <mat-label class="input-label">New Password</mat-label>
        <input matInput type="password" [(ngModel)]="newPassword1">
      </div>
    </mat-form-field>
       <mat-form-field>
      <div>
        <mat-label class="input-label">Confirm New Password</mat-label>
        <input matInput type="password" [(ngModel)]="newPassword2">
      </div>
    </mat-form-field>
    <button (click)="submitPasswordReset()" mat-raised-button color="primary">Reset Password</button>
  </div>
</div>
