<div id="login-page-centered-items">
  <div id="text-info">
    <h1 id="title-message">runner route</h1>
    <p id="description-message">Welcome to runner route! A site where you can see who else is running in real time.</p>
  </div>
  <div id="login-fields">
    <mat-form-field>
        <div id="email-field-contents">
          <mat-label>Email</mat-label>
          <input matInput type="string" [(ngModel)]="email" (keyup.enter)="loginUser()">
        </div>
    </mat-form-field>
    <mat-form-field>
        <div>
          <mat-label>Password</mat-label>
          <input matInput type="password" [(ngModel)]="password" (keyup.enter)="loginUser()">
        </div>
    </mat-form-field> 
    <button id="login-button" (click)="loginUser()" mat-raised-button color="primary">Login</button>
  </div>
  <div id="registration-info">
    <p>Not a member yet?  <a routerLink="/registration" routerLinkActive="active">Sign up here!</a></p>
  </div>
</div>

