<div id="login-page-centered-items">
  <div id="text-info">
    <h1 id="title-message">TeamXC</h1>
    <p id="description-message">Welcome to TeamXC! A tool for running coaches to track vital statistics about runners during workouts</p>
  </div>
  <div id="login-fields">
    <mat-form-field>
        <div id="email-field-contents">
          <mat-label>Email</mat-label>
          <input matInput type="string" [(ngModel)]="email" (keyup.enter)="onEnter()">
        </div>
    </mat-form-field>
    <mat-form-field>
        <div>
          <mat-label>Password</mat-label>
          <input matInput type="password" [(ngModel)]="password" (keyup.enter)="onEnter()">
        </div>
    </mat-form-field> 
  </div>
  <div id="registration-info">
    <p>Not a member yet?  <a routerLink="/registration" routerLinkActive="active">Sign up here!</a></p>
  </div>
</div>

