#all-data-view-div {
    overflow: hidden;
    height: 100vh;
}

#data-viz-div {
    width: 75%;
    display: inline-block;
}

#display-map-div {
    display: block;
    height: 50vh;
}

#line-chart-div {

}

#user-list-div {
    display: inline-block;
    float: right;
    width: 25%;
}


#site-user-count-div {
    position: absolute;
    right: 1%;
    bottom: 1%;
}