<div id="all-centered-items">
  <div id="text-info">
    <h1 id="title-message">Forgot Password</h1>
    <p class="description-message">Please enter your email to be sent a password reset code.</p>
  </div>
  <div id="registration-fields">
  	<mat-form-field>
      <div id="display-name-field-contents">
        <mat-label class="input-label">Email</mat-label>
        <input matInput type="email" [(ngModel)]="email" (keyup.enter)="requestForgottenPasswordEmail()">
      </div>
    </mat-form-field>
    <button (click)="requestForgottenPasswordEmail()" mat-raised-button color="primary">Get Reset Code Email</button>
  </div>
</div>
